html, body {
    height: 100%;
    /*position: relative;*/
}

.parent {
    height: 100%;
    position: relative;
}

.navbar-left {
    float: left;
    height: 100%;
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content {
    height: 100%;
    margin-left: 255px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plots {
    background: #f4f4f4; /* For browsers that do not support gradients */
/*    background: -webkit-linear-gradient(rgba(244,244,244,1),rgba(244,244,244,0),rgba(244,244,244,1)); Safari 5.1-6
    background: -o-linear-gradient(rgba(244,244,244,1),rgba(244,244,244,0),rgba(244,244,244,1)); Opera 11.1-12
    background: -moz-linear-gradient(rgba(244,244,244,1),rgba(244,244,244,0),rgba(244,244,244,1)); Fx 3.6-15
    background: linear-gradient(rgba(200,200,200,0.8),rgba(200,200,200,0),rgba(200,200,200,0.8)); Standard*/
    /*background-color: #f4f4f4;*/
    height: 100%
}

.plots h6 {
    margin-left: 5px;
}

.data-menu {
    background-color: #f4f4f4;
    padding: 5px;
}

.data-menu h6 {
    text-align: center;
}

.options-menu {
    background-color: #f4f4f4;
    margin-top: 5px;
    padding: 5px;
}

.options-menu h6 {
    text-align: center;
}

.text-size {
    font-size: 10px;
}

.head-text {
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

.button-align {
    text-align: right;
}