html,
body {
    height: 100%;
    /*position: relative;*/
}
.parent {
    height: 100%;
    position: relative;
}
.navbar-left {
    float: left;
    height: 100%;
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.content {
    height: 100%;
    margin-left: 255px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.plots {
    background: #f4f4f4;
    /* For browsers that do not support gradients */
    /*    background: -webkit-linear-gradient(rgba(244,244,244,1),rgba(244,244,244,0),rgba(244,244,244,1)); Safari 5.1-6
    background: -o-linear-gradient(rgba(244,244,244,1),rgba(244,244,244,0),rgba(244,244,244,1)); Opera 11.1-12
    background: -moz-linear-gradient(rgba(244,244,244,1),rgba(244,244,244,0),rgba(244,244,244,1)); Fx 3.6-15
    background: linear-gradient(rgba(200,200,200,0.8),rgba(200,200,200,0),rgba(200,200,200,0.8)); Standard*/
    /*background-color: #f4f4f4;*/
    
    height: 100%
}
.plots h6 {
    margin-left: 5px;
}
.data-menu {
    background-color: #f4f4f4;
    padding: 5px;
}
.data-menu h6 {
    text-align: center;
}
.options-menu {
    background-color: #f4f4f4;
    margin-top: 5px;
    padding: 5px;
}
.options-menu h6 {
    text-align: center;
}
.text-size {
    font-size: 12px;
}
.head-text {
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}
hr {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-right: -5px;
}
.button-align {
    text-align: right;
}
.Buttons {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
    background-color: #f9f9f9;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 5px 58px;
    text-decoration: none;
}

.Buttons1:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9', GradientType=0);
    background-color: #e9e9e9;
}
.Buttons:hover {
    background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9', GradientType=0);
    background-color: #e9e9e9;
}
.Buttons:active {
    position: relative;
    top: 1px;
}
.Buttons1 {
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
    background-color: #f9f9f9;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 5px 45px;
    text-decoration: none;
}

.Buttons1:active {
    position: relative;
    top: 1px;
}
button:focus {
    outline: none;
}
.bar text {
    fill: #999999;
    font: 10px sans-serif;
}
.bar rect {
    shape-rendering: crispEdges;
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    font: 10px sans-serif;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font: 12px sans-serif;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    font: 12px sans-serif;
}
.d3-tip:after {
    content: "\25BC";
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    
    font: 12px sans-serif;
}


.y.axis path{
    fill: none;
    stroke: none;
}